:root {
  --black : #000000; 
  --white-1 : #FFFFFF;
  --white-2 : #FBFCFC;
  --white-3 : #F8F9F9;
  --white-4 : #f3f6f8;
  --white-5 : #EAEDED;
  --theme-color-1 : #212F3C;
  --theme-color-2 : #1B2631;
  --theme-color-3 : #FA5000;
  --radius-s : 2px;
  --radius-m : 4px;
  --radius-l : 8px;
  --shadow-s : 0 1px 2px rgba(0, 0, 0, .1);
  --shadow-m : 0 2px 4px rgba(0, 0, 0, .1);
  --shadow-l : 0 6px 8px rgba(0, 0, 0, .1);
  --border-default : 1px solid #E5E7E9;
}

@font-face {
  font-family: 'OpenSans';
  src : url("./fonts/OpenSans-Regular.ttf");
  src : url("./fonts/OpenSans-Regular.ttf");
}


* {
  font-family: "OpenSans";
}

html {
  background: var(--white-4);
  margin-bottom: 5%;
}

body{
  margin: 0px;
  padding: 0px;
}

html::-webkit-scrollbar {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
article {
  margin: 0px;
  padding: 0px;
}

.page-container {
  padding-top: 50px;
  width: 70%;
  margin: auto;
}

.page-jumbotron {
  background: var(--theme-color-1);
  width: 100%;
  height: 168px;
  box-shadow: inset 0px -97px 98px -90px rgba(0,0,0,0.75);
}

.page-title {
  color: var(--white-1);
  font-size: 28px;
  font-weight: 600;
  margin-top: 15px;
}

.page-list-results {
  overflow: auto;
  max-height: 482px;
 
}

.page-list-results::-webkit-scrollbar {
  display: none;
}


/*Forecasts */

/*END Forecast */


/* Details Container */
.details-container {
  width: -webkit-fill-available;
  box-shadow: var(--shadow-s);
  background: var(--white-1);
  height: inherit;
  margin-right: 15px;
  border: 1px solid #f1f1f1;
}

.details-container-last {
margin-right: 0px;
}

.details-container-label {
  font-size: 10px;
  color: #999;
  font-weight: 600;
  margin-bottom: 0px;
  font-size: 12px;
}

.details-container-value {
  font-size: 14px;
  font-weight: 700;
  color: var(--theme-color-1);
}

.details-container-value-link {
  font-size: 14px;
}

.details-container-value-last {
  margin-bottom: 0px;
}
/* END Details Container */

/*Search Container */
.search-container {
width: 100%;

box-shadow: var(--shadow-s);
height: auto;
}

.search-label {
  font-size: 14px;
}

.search-widget {

  padding: 15px 15px;
  height: 30px;
  font-weight: 600;
  border: 1px solid #F1F1F1;
}

.search-widget::placeholder {
color: #ccc;
font-weight: 500;
}

.search-widget:focus::placeholder {
  color: #999;
}

/* End Search Container */

/* Menu */
.menu-list {
  list-style-type: none;
  display: flex;
  padding: 0px;

  margin: 0px;
  align-items: center;
  color: var(--white-1);
  justify-content: left;
  background-color: var(--theme-color-1);
  width: 100%;
  z-index: 100;
}

.menu-item {
  display: block;
  text-decoration: none;
  padding-right: 40px;
  text-align: center;
  padding: 15px;
  font-weight: 500;
  text-decoration: none;
  width: 175px;
  border-top: 3px solid transparent;
  box-sizing: border-box;
}



.menu-item:hover {
  background: var(--theme-color-2);
}

.menu-item-link:hover {
  cursor: pointer;
}

.menu-item-active {
 background: var(--theme-color-2);
}

.menu-item-link {
  text-decoration: none;
  color: var(--white-1);
}

.menu-title-link {
  color: #ffffff;
  text-decoration: none;
  display: inline-flex;
}

.menu-title-link img {
  margin-right: 10px; 
}

.menu-title {
  margin-left: 15px;
  font-weight: 400;
  width: 100%;
  color: #ffffff;
  display: block;
  font-size: 20px;
  float: left;
}
/* End Menu */

.pagination-container {
  margin-top: 15px;
  background: var(--white-1);
  display: flex;
}

.pagination-button { 
 width: 100%;
 padding: 15px;
 border: none;
 outline: 1px solid #F1F1F1;
 background: var(--white-1);
 font-weight: 500;
}

.pagination-button:hover {
  background: #f3f3f8;
  cursor: pointer;
  color:var(--theme-color-1);
}



.content-container {
  margin-top: 10px; 
}

form input {
  font-size: 15px;
  padding: 10px;
  color: var(--black);
  padding-left: 15px;
  padding-right: 15px;
  background: var(--white-1);
  border: var(--border-default);
  width: -webkit-fill-available;
}

.home-header-section {
 background: var(--theme-color-1);
  height: 225px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.home-header-text {
  text-align: center;
  position: absolute;
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.home-header-text h1 {
  font-weight: normal;
}

.home-header-text h4 {
  margin-top: 20px;
  font-weight: 500;
  font-size: 20px;
}

.special-header-char {
  color: var(--theme-color-3);
  letter-spacing: 0.1em;
}

#special-char-left {
  margin-left: 7px;
  margin-right: 3px;
}

#special-char-right {
  margin-right: 7px;
  margin-left: 5px;
}

.special-header-bold {
  font-weight: bold;
}

.home-intro-section,
.home-files-section,
.home-gallery-section  {
  padding: 20px;
  width: 850px;
  margin: 0 auto;
}

.home-intro-section {
  margin-top: 20px;
  line-height: 1.7em;
}

.home-intro-section h1, 
.home-files-section h1,
.home-gallery-section h1 {
  border-bottom: var(--border-default);
  padding-bottom: 10px;
  font-size: 24px;
  font-weight: 700;
}
 
.files-container,
.gallery-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.file-article {
  text-align: center;
  margin-top: 20px;
  width: auto;
  padding: 30px 10px 15px 10px;
  flex: 1;
  background: var(--white-1);
  border: var(--border-default);
  box-sizing: border-box;
  border-radius: var(--radius-m);
}

.file-article:hover {
  background: var(--white-3);
  cursor:pointer;
}


.file-middle {
  margin-left: 20px;
  margin-right: 20px;
}

.file-article-title {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 30px;
    color: var(--black-4);
}
.file-icon {
    width: 40px;
    margin-bottom: 20px;
}

.file-article-download-button { 
  padding: 7px 10px 7px 10px;
  width: 75%;
  margin-top: 20px;
  background: var(--theme-color-1);
  text-decoration: none;
  color: var(--white-1);
  border: none;
  border-radius: var(--radius-m);
}

.file-article-download-button:hover,
.file-article:hover > .file-article-download-button {
  background: var(--theme-color-3);
  cursor: pointer;
}


.gallery-container {
  margin-top: 20px;
}

.gallery-item {
  margin-top: 10px;
  width: 25%;
  padding: 15px;
  border-radius: var(--radius-l);
  background: var(--white-1);
  border: var(--border-default);
  box-sizing: border-box;
}

.gallery-item:hover {
  background: var(--white-3);
  cursor:pointer;
}

.gallery-item h3 {
  font-size: 15px;
  color: var(--theme-color-1);
  margin-left: 2px;
}

.gallery-item span {
  font-size: 13px;
  margin-left: 2px;
}

.gallery-middle-item-1 {
  margin-left: 20px; 
  margin-right: 20px; 
}

.gallery-middle-item-2 {
  margin-right: 20px;
} 

.gallery-image {
  width: 100%;
  border-radius: var(--radius-l);
  margin-bottom: 10px;
}

.gallery-image:active {
  width: 25%;
  top: 74%; 
  left: 0;
  z-index: 100;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  border: var(--border-default);
  box-shadow:  0 8px 10px rgba(0, 0, 0, .1);
}


/* End home page */
/* Widget */



#search-input-widget:focus {
  outline: var(--border-default);
} 

#current-location-button {
  width: 100%;
  padding: 10px;
  background: var(--white-1);
  border: var(--border-default);
  margin-top: 10px;
  font-size: 12px;
  margin-bottom: 15px;
  border-radius: 0px 4px 4px 0px;
  background: var(--theme-color-1);
  color: var(--white-1);
  outline: var(--border-default);
  border: none;
}
#current-location-button:hover {
  background: var(--theme-color-3);
  cursor: pointer;
}


.google-maps-widget {
  display: block;
  width: 600px;
  height: 300px;
}

.country-maps > div > div > div,
.city-details-maps-container > div > div > div,
.profile-location-container > div > div > div{
  border-radius: var(--radius-l);
}


#page-loader-gif {
  width: 150px;
}

/* End widgets */

.page-loader-container {
  text-align: center;
}

.auth-form {
  display: flex;
  flex-direction: column;
  background: var(--white-1);
  border: var(--border-default);
  padding: 25px;
  width: 500px;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: var(--radius-m);
}

.auth-form h1 {
  color: var(--black);
  font-size: 22px;
  margin-bottom: 20px;
}

.auth-form p {
  font-size: 14px;
}

form input:focus {
  outline: none;
  background: var(--white-2);
}

.form-button:hover {
  cursor: pointer;
}

.signup-signin-redirect {
  width: 500px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px 25px 20px 25px;
  background: var(--white-1);
  border: var(--border-default);
  text-align: center;
  color: var(--theme-color-3);
  font-weight: 600;
  text-decoration: none;
  font-size: 14px;
  border-radius: var(--radius-m);
}

.signup-signin-redirect:hover {
  background: var(--white-3);
  cursor:pointer; 
}


.signup-signin-redirect-text { 
 text-decoration: none;
}

.auth-button {
  padding: 12px 32px 12px 32px;
  width: 100%;
  font-size: 14px;
  background: var(--theme-color-2);
  border: none;
  color: #ffffff;
  border-radius: var(--radius-m);
  cursor: pointer;
}

.auth-button:hover{ 
  background: var(--theme-color-3);
}

.component-section {
  padding: 20px;
}

li {
  margin: 0px;
  padding: 0px;
}

.list {
  margin-bottom: 20px;
}

.search-container span {
  font-size: 13px;
}

.navigation-link{
  color: var(--theme-color-3);
  font-weight: 600;
}

.navigation-link:hover {
  cursor: pointer;
}

.header-with-icon {
  display: flex;
}

.auth-icon {
  width: 15px;
  margin-left: 6px;
  position: absolute;
  margin-top: 3px;
}

.country-search-component {
  margin-top: 20px;
}

.country-search-action {
  width: 100%;
}

.loading-maps-container {
  height: 475px;
}

.loading-maps-container #page-loader-gif {
  margin-top: 10%;
}

#timezone-selection:focus {
  border-radius: 0px;
}

#timezone-selection::after {
  margin-right: 20px;
}

#timezone-selection {
  width: 70%;
  text-align: center;
  font-size: 85%;
  color: var(--white-1);
  border-radius: var(--radius-m);
  background: var(--theme-color-1);
  padding: 4px 0 4px 24%;
  margin-top: 5px;
}

.content-details-container { 
  width: 25%;
  padding: 30px;
  background: var(--white-1);
  height: auto;
}


.country-details-container,
.city-details-container {
  display: flex;
}


.country-details-row {
  padding: 10px 15px 10px 15px;
  border-bottom: 1px solid #F1F1F1;
}

.country-details-row:hover {
 background: var(--white-3);
}


.country-details-row-last {
  border-bottom:none;
}

.country-details-title {
padding: 15px;
border-bottom: 1px solid #F1F1F1;
}

.country-details-flag-container {
  width: 100%;
  
}

.country-flag-image {
  width: 100%;

}



.country-info-container { 
  width: 30%;
  box-sizing: border-box;
  box-shadow: var(--shadow-s);
  background: var(--white-1);
  height: auto;
  margin-right: 15px;
  border: 1px solid #f1f1f1;
}

.country-cities-container {
  text-align: center;
  height: auto;
  width: 100%;
  border: 1px solid #F1F1F1;
  margin-top: 15px;
  width: -webkit-fill-available;
}


.no-data-available-fieldset {
  width: 50%;
  left: 25%;
  padding: 20px;
  border: 1px solid #ced4da;
  background: white;
  position: absolute;
  margin-top: 10%;
}

.no-data-available-fieldset h1 {
  font-size: 22px;
  color: var(--theme-color-3);
}

.no-data-available-fieldset h2 {
  font-size: 20px;
  color: #333333;
  font-weight: 500;
}

.profile-details-label {
  display: block;
  font-size: 12px;
  font-weight: 500;
  color: #5D6D7E
}

.more-button {
  padding: 7px 14px 7px 14px;
  width: 250px;
  background: var(--theme-color-1);
  border: 1px solid transparent;
  border-radius: var(--radius-m);
  font-weight: 500;
  font-size: 12px;
  color: #fff;
}

.more-button:hover {
  background: #34495E;
  cursor: pointer;
}

.profile-content-info {
  background: #ffffff;
  margin-top: 20px;
}

.profile-content-info label {
  font-size: 12px;
}
.profile-component-section {
  margin-top: 20px;
}

.profile-content {
  display: flex;
  width: 100%;
}

.profile-content-item {
  padding: 5px;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 600;
}

.profile-location-container {
    width: 70%;
    margin-top: 15px;
}

.liked-countries-cities {
  width: 80%;
  margin-top: 10px;
  height: 100px;
  background: #ffffff;
  padding: 12px;
}

.error-message {
  color: var(--theme-color-3);
  font-size: 12px;
  font-weight: 600;
}

.signout-button {
  padding: 15px;
  width: 100%;
  background: #5D6D7E;
  border: none;
  color: #ffffff;
  cursor: pointer;
  margin-top: 15px;
}

.profile-info-container {
  width: 30%;
  padding: 15px;
  margin-top: 15px;
  background: var(--white-1);
  height: fit-content;
  margin-right: 15px;
  border: var(--border-default);
  border-radius: var(--radius-m);
}



.profile-lock-icon {
  width: 32px;
  margin-left: 10px;
}

.profile-info-item {
  margin-top: 15px;
  margin-bottom: 15px;
}

.profile-details-value {
  font-size: 16px;
  font-weight: 600;
  color: var(--main-black);
}

.menu-item-icon {
  width: 15px;
  margin-left: 10px;
  margin-top: 3px;
  position: absolute;
}

.confirmation-toast {
  width: 500px;
  margin: 0 auto;
  border-radius: 8px;
  color: white;  
  margin-top: 20px;
  color:#52BE80;
  font-size: 16px;
}

@media only screen and (max-width: 1600px) {
  .page-container {
    width: 90%;
    padding-top: 20px;
  }
}

@media only screen and (max-width: 1000px) {
  .country-details-container {
    display: block;
  }

  .details-container {
    margin-bottom: 15px;
  }

  .country-info-container {
    margin-right: 0px;  
    width: 100%;
  }

  .country-details-flag-container {
    width: 100%;
    margin-top: 15px;
  }
  
  .city-details-container {
    display: block;
  }
  
  .content-container {
    padding-bottom: 30px;
  }
}